In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Movie_regression.csv')
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [3]:
df.shape

(506, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
Marketing expense      506 non-null float64
Production expense     506 non-null float64
Multiplex coverage     506 non-null float64
Budget                 506 non-null float64
Movie_length           506 non-null float64
Lead_ Actor_Rating     506 non-null float64
Lead_Actress_rating    506 non-null float64
Director_rating        506 non-null float64
Producer_rating        506 non-null float64
Critic_rating          506 non-null float64
Trailer_views          506 non-null int64
3D_available           506 non-null object
Time_taken             494 non-null float64
Twitter_hastags        506 non-null float64
Genre                  506 non-null object
Avg_age_actors         506 non-null int64
Num_multiplex          506 non-null int64
Collection             506 non-null int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Marketing expense,506.0,92.270471,172.030902,20.1264,21.64090,25.1302,93.54165,1799.524
Production expense,506.0,77.273557,13.720706,55.9200,65.38000,74.3800,91.20000,110.480
Multiplex coverage,506.0,0.445305,0.115878,0.1290,0.37600,0.4620,0.55100,0.615
Budget,506.0,34911.144022,3903.038232,19781.3550,32693.95250,34488.2175,36793.54250,48772.900
Movie_length,506.0,142.074901,28.148861,76.4000,118.52500,151.0000,167.57500,173.500
Lead_ Actor_Rating,506.0,8.014002,1.054266,3.8400,7.31625,8.3075,8.86500,9.435
Lead_Actress_rating,506.0,8.185613,1.054290,4.0350,7.50375,8.4950,9.03000,9.540
Director_rating,506.0,8.019664,1.059899,3.8400,7.29625,8.3125,8.88375,9.425
Producer_rating,506.0,8.190514,1.049601,4.0300,7.50750,8.4650,9.03000,9.635
Critic_rating,506.0,7.810870,0.659699,6.6000,7.20000,7.9600,8.26000,9.400
Trailer_views,506.0,449860.715415,68917.763145,212912.0000,409128.00000,462460.0000,500247.50000,567784.000
Time_taken,494.0,157.391498,31.295161,0.0000,132.30000,160.0000,181.89000,217.520
Twitter_hastags,506.0,260.832095,104.779133,201.1520,223.79600,254.4000,283.41600,2022.400
Avg_age_actors,506.0,39.181818,12.513697,3.0000,28.00000,39.0000,50.00000,60.000
Num_multiplex,506.0,545.043478,106.332889,333.0000,465.00000,535.5000,614.75000,868.000
Collection,506.0,45057.707510,18364.351764,10000.0000,34050.00000,42400.0000,50000.00000,100000.000

In [6]:
#treating missing values

df['Time_taken'].fillna(df['Time_taken'].mean(),inplace=True)

In [7]:
df.isnull().sum()[df.isnull().sum()!=0]

Series([], dtype: int64)

In [8]:
#Dummy variable creation (converting object datatype to numeric datatype)

df=pd.get_dummies(df,columns=['3D_available','Genre'],drop_first=True)

In [9]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [10]:
X=df.drop('Collection',axis=1)
y=df['Collection']

In [11]:
#Train-Test split

from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=3)

In [13]:
X_train.shape,X_test.shape

((404, 19), (102, 19))

In [14]:
#Training Regression Tree

from sklearn import tree

In [15]:
regtree=tree.DecisionTreeRegressor(max_depth=3)

In [16]:
regtree.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=3,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [17]:
#Predicting values using trained model

y_train_pred=regtree.predict(X_train)
y_test_pred=regtree.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error,r2_score

In [19]:
mean_squared_error(y_test,y_test_pred)

75690624.3451205

In [20]:
r2_score(y_train,y_train_pred)

0.8096219478576197

In [21]:
r2_score(y_test,y_test_pred)

0.7703699180725665

In [ ]:
#plotting decision tree

dot_data=tree.export_graphviz(regtree,out_file=None)

In [ ]:
from IPython.display import Image

In [ ]:
import pydotplus

In [ ]:
graph=pydotplus.graph_from_dot_data(dot_data)

In [ ]:
Image(graph.create_fig())

features = X.columns
#Create DOT data
dot_data = tree.export_graphviz(regtree, out_file=None, feature_names=features)
#Draw graph
graph = pydotplus.graph_from_dot_data(dot_data) 
#Show graph
Image(graph.create_png())